.DS_Store
/.hugo_build.lock
/.cache/
/_site/
/node_modules/
/resources/

# Ignore any changes to these files
/config/local/hugo.yml
/config/local/development/hugo.yml

# Editor folders
/.vscode/

# Release zip files
strib-icons-*.zip
