/**
 * Star Tribune icons (strib-icons)
 * Version: 0.0.10
 * Copyright Star Tribune
 */

@font-face {
	font-family: "strib-icons";
	src: url("strib-icons.eot?b3783f8a68af23bc29610acce80ba808?#iefix") format("embedded-opentype"),
url("strib-icons.woff2?b3783f8a68af23bc29610acce80ba808") format("woff2"),
url("strib-icons.woff?b3783f8a68af23bc29610acce80ba808") format("woff"),
url("strib-icons.ttf?b3783f8a68af23bc29610acce80ba808") format("truetype"),
url("strib-icons.svg?b3783f8a68af23bc29610acce80ba808#strib-icons") format("svg");
}

.strib-icon {
	line-height: 1;
}

.strib-icon:before {
	font-family: strib-icons !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.strib-arrow-right:before {
	content: "\f101";
}
.strib-arrow-value-down:before {
	content: "\f102";
}
.strib-arrow-value-up:before {
	content: "\f103";
}
.strib-camera:before {
	content: "\f104";
}
.strib-close:before {
	content: "\f105";
}
.strib-comment-bubble-long:before {
	content: "\f106";
}
.strib-comment-bubble:before {
	content: "\f107";
}
.strib-data-drop:before {
	content: "\f108";
}
.strib-document:before {
	content: "\f109";
}
.strib-email:before {
	content: "\f10a";
}
.strib-gallery-grid:before {
	content: "\f10b";
}
.strib-gallery-slideshow:before {
	content: "\f10c";
}
.strib-graphic:before {
	content: "\f10d";
}
.strib-hamburger:before {
	content: "\f10e";
}
.strib-home:before {
	content: "\f10f";
}
.strib-like:before {
	content: "\f110";
}
.strib-map-pin:before {
	content: "\f111";
}
.strib-media-play:before {
	content: "\f112";
}
.strib-media-video-square:before {
	content: "\f113";
}
.strib-media-video:before {
	content: "\f114";
}
.strib-modal:before {
	content: "\f115";
}
.strib-nav-back:before {
	content: "\f116";
}
.strib-nav-forward:before {
	content: "\f117";
}
.strib-person:before {
	content: "\f118";
}
.strib-phone-app:before {
	content: "\f119";
}
.strib-phone-landline:before {
	content: "\f11a";
}
.strib-podcast:before {
	content: "\f11b";
}
.strib-poll:before {
	content: "\f11c";
}
.strib-print:before {
	content: "\f11d";
}
.strib-reply:before {
	content: "\f11e";
}
.strib-reprint:before {
	content: "\f11f";
}
.strib-search:before {
	content: "\f120";
}
.strib-social-facebook-circle:before {
	content: "\f121";
}
.strib-social-facebook:before {
	content: "\f122";
}
.strib-social-google-circle:before {
	content: "\f123";
}
.strib-social-google:before {
	content: "\f124";
}
.strib-social-instagram-circle:before {
	content: "\f125";
}
.strib-social-instagram:before {
	content: "\f126";
}
.strib-social-linkedin-circle:before {
	content: "\f127";
}
.strib-social-linkedin:before {
	content: "\f128";
}
.strib-social-pinterest-circle:before {
	content: "\f129";
}
.strib-social-pinterest:before {
	content: "\f12a";
}
.strib-social-tumblr-circle:before {
	content: "\f12b";
}
.strib-social-tumblr:before {
	content: "\f12c";
}
.strib-social-twitter-circle:before {
	content: "\f12d";
}
.strib-social-twitter:before {
	content: "\f12e";
}
.strib-social-youtube-circle:before {
	content: "\f12f";
}
.strib-social-youtube:before {
	content: "\f130";
}
.strib-strib-logo:before {
	content: "\f131";
}
.strib-strib-star:before {
	content: "\f132";
}
.strib-text-size:before {
	content: "\f133";
}

/* SVG includes */
.strib-icon-svg {
	display: inline-block;
	width: 1em;
	height: 1em;
}
