/**
 * Star Tribune icons (strib-icons)
 * Version: 
 * Copyright Star Tribune
 */

// Default variables
$strib-fonts-location: "./" !default;
$strib-fonts-font-name: "strib-icons" !default;
$strib-fonts-base-selector: ".strib-icon" !default;
$strib-fonts-class-prefix: "strib-" !default;

@font-face {
	font-family: "#{$strib-fonts-font-name}";
	src: url("#{$strib-fonts-location}#{$strib-fonts-font-name}.svg?1522350591646#strib-icons") format("embedded-opentype"),
url("#{$strib-fonts-location}#{$strib-fonts-font-name}.ttf?1522350591646") format("truetype"),
url("#{$strib-fonts-location}#{$strib-fonts-font-name}.woff?1522350591646") format("woff"),
url("#{$strib-fonts-location}#{$strib-fonts-font-name}.woff2?1522350591646") format("woff2"),
url("#{$strib-fonts-location}#{$strib-fonts-font-name}.eot?1522350591646#iefix") format("embedded-opentype");
}

#{$strib-fonts-base-selector} {
	line-height: 1;
}

#{$strib-fonts-base-selector}:before {
	font-family: "#{$strib-fonts-font-name}" !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}


// SVG includes
#{$strib-fonts-base-selector}-svg {
	display: inline-block;
  width: 1em;
	height: 1em;
}
