/**
 * Star Tribune icons (strib-icons)
 * Version: 
 * Copyright Star Tribune
 */

// Default variables
$strib-fonts-location: "./" !default;
$strib-fonts-font-name: "strib-icons" !default;
$strib-fonts-base-selector: ".strib-icon" !default;
$strib-fonts-class-prefix: "strib-" !default;

@font-face {
	font-family: "#{$strib-fonts-font-name}";
	src: url("#{$strib-fonts-location}#{$strib-fonts-font-name}.svg?1524595143419#strib-icons") format("embedded-opentype"),
url("#{$strib-fonts-location}#{$strib-fonts-font-name}.ttf?1524595143419") format("truetype"),
url("#{$strib-fonts-location}#{$strib-fonts-font-name}.woff?1524595143419") format("woff"),
url("#{$strib-fonts-location}#{$strib-fonts-font-name}.woff2?1524595143419") format("woff2"),
url("#{$strib-fonts-location}#{$strib-fonts-font-name}.eot?1524595143419#iefix") format("embedded-opentype");
}

#{$strib-fonts-base-selector} {
	line-height: 1;
}

#{$strib-fonts-base-selector}:before {
	font-family: "#{$strib-fonts-font-name}" !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.#{$strib-fonts-class-prefix}arrow-right:before {
	content: "\f101";
}
.#{$strib-fonts-class-prefix}arrow-value-down:before {
	content: "\f102";
}
.#{$strib-fonts-class-prefix}arrow-value-up:before {
	content: "\f103";
}
.#{$strib-fonts-class-prefix}camera:before {
	content: "\f104";
}
.#{$strib-fonts-class-prefix}close:before {
	content: "\f105";
}
.#{$strib-fonts-class-prefix}comment-bubble-long:before {
	content: "\f106";
}
.#{$strib-fonts-class-prefix}comment-bubble:before {
	content: "\f107";
}
.#{$strib-fonts-class-prefix}data-drop:before {
	content: "\f108";
}
.#{$strib-fonts-class-prefix}document:before {
	content: "\f109";
}
.#{$strib-fonts-class-prefix}email:before {
	content: "\f10a";
}
.#{$strib-fonts-class-prefix}gallery-grid:before {
	content: "\f10b";
}
.#{$strib-fonts-class-prefix}gallery-slideshow:before {
	content: "\f10c";
}
.#{$strib-fonts-class-prefix}graphic:before {
	content: "\f10d";
}
.#{$strib-fonts-class-prefix}hamburger:before {
	content: "\f10e";
}
.#{$strib-fonts-class-prefix}home:before {
	content: "\f10f";
}
.#{$strib-fonts-class-prefix}like:before {
	content: "\f110";
}
.#{$strib-fonts-class-prefix}map-pin:before {
	content: "\f111";
}
.#{$strib-fonts-class-prefix}media-play:before {
	content: "\f112";
}
.#{$strib-fonts-class-prefix}media-video-square:before {
	content: "\f113";
}
.#{$strib-fonts-class-prefix}media-video:before {
	content: "\f114";
}
.#{$strib-fonts-class-prefix}modal:before {
	content: "\f115";
}
.#{$strib-fonts-class-prefix}nav-back:before {
	content: "\f116";
}
.#{$strib-fonts-class-prefix}nav-forward:before {
	content: "\f117";
}
.#{$strib-fonts-class-prefix}person:before {
	content: "\f118";
}
.#{$strib-fonts-class-prefix}phone-app:before {
	content: "\f119";
}
.#{$strib-fonts-class-prefix}phone-landline:before {
	content: "\f11a";
}
.#{$strib-fonts-class-prefix}podcast:before {
	content: "\f11b";
}
.#{$strib-fonts-class-prefix}poll:before {
	content: "\f11c";
}
.#{$strib-fonts-class-prefix}print:before {
	content: "\f11d";
}
.#{$strib-fonts-class-prefix}reply:before {
	content: "\f11e";
}
.#{$strib-fonts-class-prefix}reprint:before {
	content: "\f11f";
}
.#{$strib-fonts-class-prefix}search:before {
	content: "\f120";
}
.#{$strib-fonts-class-prefix}social-facebook-circle:before {
	content: "\f121";
}
.#{$strib-fonts-class-prefix}social-facebook:before {
	content: "\f122";
}
.#{$strib-fonts-class-prefix}social-google-circle:before {
	content: "\f123";
}
.#{$strib-fonts-class-prefix}social-google:before {
	content: "\f124";
}
.#{$strib-fonts-class-prefix}social-instagram-circle:before {
	content: "\f125";
}
.#{$strib-fonts-class-prefix}social-instagram:before {
	content: "\f126";
}
.#{$strib-fonts-class-prefix}social-linkedin-circle:before {
	content: "\f127";
}
.#{$strib-fonts-class-prefix}social-linkedin:before {
	content: "\f128";
}
.#{$strib-fonts-class-prefix}social-pinterest-circle:before {
	content: "\f129";
}
.#{$strib-fonts-class-prefix}social-pinterest:before {
	content: "\f12a";
}
.#{$strib-fonts-class-prefix}social-tumblr-circle:before {
	content: "\f12b";
}
.#{$strib-fonts-class-prefix}social-tumblr:before {
	content: "\f12c";
}
.#{$strib-fonts-class-prefix}social-twitter-circle:before {
	content: "\f12d";
}
.#{$strib-fonts-class-prefix}social-twitter:before {
	content: "\f12e";
}
.#{$strib-fonts-class-prefix}social-youtube-circle:before {
	content: "\f12f";
}
.#{$strib-fonts-class-prefix}social-youtube:before {
	content: "\f130";
}
.#{$strib-fonts-class-prefix}strib-logo:before {
	content: "\f131";
}
.#{$strib-fonts-class-prefix}strib-star:before {
	content: "\f132";
}
.#{$strib-fonts-class-prefix}text-size:before {
	content: "\f133";
}

// SVG includes
#{$strib-fonts-base-selector}-svg {
	display: inline-block;
  width: 1em;
	height: 1em;
}
