// Local docs variables
$bd-accent: #ffe484;
$bd-gutter-x: 3rem;
$strib-green: #05442e;
$strib-forest-green: lighten(saturate($strib-green, 5%), 10%);

:root {
  --strib-green: #{$strib-green};
  --strib-forest-green: #{$strib-forest-green};
  --bd-accent: #{$bd-accent};
  --strib-forest-green-rgb: #{to-rgb($strib-forest-green)};
  --bd-accent-rgb: #{to-rgb($bd-accent)};
  --bd-pink-rgb: #{to-rgb($pink-500)};
  --bd-teal-rgb: #{to-rgb($teal-500)};
}

[data-bs-theme="light"] {
  --bs-link-color: #{$strib-forest-green};
  --bs-link-color-rgb: #{to-rgb($strib-forest-green)};
  --bs-link-hover-color: #00ac63;
  --bs-link-hover-color-rgb: #{to-rgb(#00ac63)};
}

[data-bs-theme="dark"] {
  --bs-link-color: #00ac63;
  --bs-link-color-rgb: #{to-rgb(#00ac63)};
  --bs-link-hover-color: #65cc5c;
  --bs-link-hover-color-rgb: #{to-rgb(#65cc5c)};
}
