$strib-icons-font: strib-icons !default;
$strib-icons-font-dir: "./fonts" !default;
$strib-icons-font-file: "#{$strib-icons-font-dir}/#{$strib-icons-font}" !default;
$strib-icons-font-hash: "24e3eb84d0bcaf83d77f904c78ac1f47" !default;

@font-face {
  font-family: $strib-icons-font;
  src:
    url("#{$strib-icons-font-file}.woff2?#{$strib-icons-font-hash}") format("woff2"),
    url("#{$strib-icons-font-file}.woff?#{$strib-icons-font-hash}") format("woff"),
    url("#{$strib-icons-font-file}.ttf?#{$strib-icons-font-hash}") format("truetype"),
    url("#{$strib-icons-font-file}.eot?#{$strib-icons-font-hash}") format("embedded-opentype") !default;
  font-display: block;
}

.strib::before,
[class^="strib-"]::before,
[class*=" strib-"]::before {
  display: inline-block;
  font-family: $strib-icons-font, sans-serif !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

$strib-icons-map: (
  "arrow-down-left": "\f101",
  "arrow-down-right": "\f102",
  "arrow-down": "\f103",
  "arrow-left": "\f104",
  "arrow-right": "\f105",
  "arrow-up-left": "\f106",
  "arrow-up-right": "\f107",
  "arrow-up": "\f108",
  "audio-waves": "\f109",
  "avatar-filled": "\f10a",
  "avatar": "\f10b",
  "bookmark-filled": "\f10c",
  "bookmark": "\f10d",
  "briefcase-filled": "\f10e",
  "briefcase": "\f10f",
  "calendar": "\f110",
  "camera-filled": "\f111",
  "camera": "\f112",
  "chart": "\f113",
  "check": "\f114",
  "checkbox-checked-filled": "\f115",
  "checkbox": "\f116",
  "chevron-down": "\f117",
  "chevron-left": "\f118",
  "chevron-right": "\f119",
  "chevron-up": "\f11a",
  "clock": "\f11b",
  "close": "\f11c",
  "collapse": "\f11d",
  "comment-disabled": "\f11e",
  "comment": "\f11f",
  "company-logo": "\f120",
  "company-name": "\f121",
  "connect": "\f122",
  "copy": "\f123",
  "corner-down-right": "\f124",
  "crystal-ball-filled": "\f125",
  "crystal-ball": "\f126",
  "device-mobile": "\f127",
  "devices": "\f128",
  "diamond": "\f129",
  "document": "\f12a",
  "download": "\f12b",
  "edit": "\f12c",
  "error-filled": "\f12d",
  "error": "\f12e",
  "event": "\f12f",
  "expand": "\f130",
  "faq": "\f131",
  "fast-forward-15": "\f132",
  "filter": "\f133",
  "fire": "\f134",
  "flag-filled": "\f135",
  "flag": "\f136",
  "forward-filled": "\f137",
  "forward": "\f138",
  "gift": "\f139",
  "headphones": "\f13a",
  "help-filled": "\f13b",
  "help": "\f13c",
  "home-filled": "\f13d",
  "home": "\f13e",
  "image": "\f13f",
  "information-filled": "\f140",
  "information": "\f141",
  "latest": "\f142",
  "link": "\f143",
  "location-filled": "\f144",
  "location-map-filled": "\f145",
  "location-map": "\f146",
  "location-precise-filled": "\f147",
  "location-precise": "\f148",
  "location": "\f149",
  "lock-filled": "\f14a",
  "lock": "\f14b",
  "log-in-right": "\f14c",
  "log-out-right": "\f14d",
  "mail": "\f14e",
  "maximize": "\f14f",
  "menu-horizontal": "\f150",
  "menu-stacked": "\f151",
  "menu-vertical": "\f152",
  "microphone-filled": "\f153",
  "microphone": "\f154",
  "minimize": "\f155",
  "minus": "\f156",
  "news-filled": "\f157",
  "news": "\f158",
  "notification-filled": "\f159",
  "notification-new": "\f15a",
  "notification-off": "\f15b",
  "notification": "\f15c",
  "pause-filled": "\f15d",
  "pause": "\f15e",
  "phone": "\f15f",
  "pinned": "\f160",
  "play-filled": "\f161",
  "play": "\f162",
  "plus": "\f163",
  "podium-filled": "\f164",
  "podium": "\f165",
  "print": "\f166",
  "quote-double": "\f167",
  "recently-viewed": "\f168",
  "redo": "\f169",
  "refresh": "\f16a",
  "reply-all": "\f16b",
  "reply": "\f16c",
  "rewind-15": "\f16d",
  "search-jobs-filled": "\f16e",
  "search-jobs": "\f16f",
  "search-menu": "\f170",
  "search": "\f171",
  "section-filled": "\f172",
  "section": "\f173",
  "send-filled": "\f174",
  "send": "\f175",
  "settings-filled": "\f176",
  "settings": "\f177",
  "share": "\f178",
  "shooting-star-down-right-filled": "\f179",
  "shooting-star-down-right": "\f17a",
  "social-facebook-circle": "\f17b",
  "social-facebook": "\f17c",
  "social-google-circle": "\f17d",
  "social-google": "\f17e",
  "social-instagram-circle": "\f17f",
  "social-instagram": "\f180",
  "social-linkedin-circle": "\f181",
  "social-linkedin-color": "\f182",
  "social-linkedin": "\f183",
  "social-reddit-circle": "\f184",
  "social-reddit-color": "\f185",
  "social-reddit": "\f186",
  "social-spotify-circle": "\f187",
  "social-spotify": "\f188",
  "social-threads-circle": "\f189",
  "social-threads": "\f18a",
  "social-tiktok-circle": "\f18b",
  "social-tiktok-color": "\f18c",
  "social-tiktok": "\f18d",
  "social-tumblr-circle": "\f18e",
  "social-tumblr": "\f18f",
  "social-x-circle": "\f190",
  "social-x": "\f191",
  "social-youtube-circle": "\f192",
  "social-youtube": "\f193",
  "speech-filled": "\f194",
  "speech": "\f195",
  "sponsored": "\f196",
  "sports-baseball": "\f197",
  "sports-basketball": "\f198",
  "sports-college": "\f199",
  "sports-football": "\f19a",
  "sports-golf": "\f19b",
  "sports-high-school": "\f19c",
  "sports-hockey": "\f19d",
  "sports-league-mlb-color": "\f19e",
  "sports-league-mls-color": "\f19f",
  "sports-league-nba-color": "\f1a0",
  "sports-league-ncaa-color": "\f1a1",
  "sports-league-nfl-color": "\f1a2",
  "sports-league-nhl-color": "\f1a3",
  "sports-league-pwhl-color": "\f1a4",
  "sports-motorsport": "\f1a5",
  "sports-outdoor": "\f1a6",
  "sports-roster-filled": "\f1a7",
  "sports-roster": "\f1a8",
  "sports-score": "\f1a9",
  "sports-soccer": "\f1aa",
  "sports-standings": "\f1ab",
  "sports-stats": "\f1ac",
  "sports-team-gophers": "\f1ad",
  "sports-team-loons": "\f1ae",
  "sports-team-timberwolves": "\f1af",
  "sports-team-twins": "\f1b0",
  "sports-team-vikings": "\f1b1",
  "sports-team-wild": "\f1b2",
  "sports-trophy": "\f1b3",
  "star-filled": "\f1b4",
  "star": "\f1b5",
  "steering-wheel": "\f1b6",
  "text-size": "\f1b7",
  "thumbs-down-filled": "\f1b8",
  "thumbs-down": "\f1b9",
  "thumbs-up-filled": "\f1ba",
  "thumbs-up": "\f1bb",
  "ticket": "\f1bc",
  "tombstone-filled": "\f1bd",
  "tombstone": "\f1be",
  "trash": "\f1bf",
  "trending": "\f1c0",
  "undo": "\f1c1",
  "user": "\f1c2",
  "video-filled": "\f1c3",
  "video": "\f1c4",
  "view-next": "\f1c5",
  "volume-filled": "\f1c6",
  "volume-mute-filled": "\f1c7",
  "volume-mute": "\f1c8",
  "volume": "\f1c9",
  "weather-day-mostly-cloudy-thunderstorms-lg-color": "\f1ca",
  "weather-day-mostly-cloudy-thunderstorms-lg": "\f1cb",
  "weather-day-mostly-cloudy-thunderstorms": "\f1cc",
  "weather-day-mostly-sunny-lg-color": "\f1cd",
  "weather-day-mostly-sunny-lg": "\f1ce",
  "weather-day-mostly-sunny": "\f1cf",
  "weather-day-night-cloudy-lg-color": "\f1d0",
  "weather-day-night-cloudy-lg": "\f1d1",
  "weather-day-night-cloudy": "\f1d2",
  "weather-day-night-flurries-lg-color": "\f1d3",
  "weather-day-night-flurries-lg": "\f1d4",
  "weather-day-night-flurries": "\f1d5",
  "weather-day-night-ice-lg-color": "\f1d6",
  "weather-day-night-ice-lg": "\f1d7",
  "weather-day-night-ice": "\f1d8",
  "weather-day-night-showers-lg-color": "\f1d9",
  "weather-day-night-showers-lg": "\f1da",
  "weather-day-night-showers": "\f1db",
  "weather-day-night-sleet-lg-color": "\f1dc",
  "weather-day-night-sleet-lg": "\f1dd",
  "weather-day-night-sleet": "\f1de",
  "weather-day-partly-sunny-flurries-lg-color": "\f1df",
  "weather-day-partly-sunny-flurries-lg": "\f1e0",
  "weather-day-partly-sunny-flurries": "\f1e1",
  "weather-day-partly-sunny-lg-color": "\f1e2",
  "weather-day-partly-sunny-lg": "\f1e3",
  "weather-day-partly-sunny-showers-lg-color": "\f1e4",
  "weather-day-partly-sunny-showers-lg": "\f1e5",
  "weather-day-partly-sunny-showers": "\f1e6",
  "weather-day-partly-sunny-thunderstorms-lg-color": "\f1e7",
  "weather-day-partly-sunny-thunderstorms-lg": "\f1e8",
  "weather-day-partly-sunny-thunderstorms": "\f1e9",
  "weather-day-partly-sunny": "\f1ea",
  "weather-day-sunny-lg-color": "\f1eb",
  "weather-day-sunny-lg": "\f1ec",
  "weather-day-sunny": "\f1ed",
  "weather-night-lg-color": "\f1ee",
  "weather-night-lg": "\f1ef",
  "weather-night-mostly-cloudy-lg-color": "\f1f0",
  "weather-night-mostly-cloudy-lg": "\f1f1",
  "weather-night-mostly-cloudy": "\f1f2",
  "weather-night-partly-cloudy-flurries-lg-color": "\f1f3",
  "weather-night-partly-cloudy-flurries-lg": "\f1f4",
  "weather-night-partly-cloudy-flurries": "\f1f5",
  "weather-night-partly-cloudy-lg-color": "\f1f6",
  "weather-night-partly-cloudy-lg": "\f1f7",
  "weather-night-partly-cloudy-showers-lg-color": "\f1f8",
  "weather-night-partly-cloudy-showers-lg": "\f1f9",
  "weather-night-partly-cloudy-showers": "\f1fa",
  "weather-night-partly-cloudy-thunderstorms-lg-color": "\f1fb",
  "weather-night-partly-cloudy-thunderstorms-lg": "\f1fc",
  "weather-night-partly-cloudy-thunderstorms": "\f1fd",
  "weather-night-partly-cloudy": "\f1fe",
  "weather-night-snowy-lg-color": "\f1ff",
  "weather-night-snowy-lg": "\f200",
  "weather-night-snowy": "\f201",
  "weather-night-wintry-mix-lg-color": "\f202",
  "weather-night-wintry-mix-lg": "\f203",
  "weather-night-wintry-mix": "\f204",
  "weather-night": "\f205",
  "world-filled": "\f206",
  "world": "\f207",
  "zoom-in": "\f208",
  "zoom-out": "\f209",
);

@each $icon, $codepoint in $strib-icons-map {
  .strib-#{$icon}::before { content: $codepoint; }
}
