$strib-icons-font: strib-icons !default;
$strib-icons-font-dir: "./fonts" !default;
$strib-icons-font-file: "#{$strib-icons-font-dir}/#{$strib-icons-font}" !default;
$strib-icons-font-hash: "24e3eb84d0bcaf83d77f904c78ac1f47" !default;

@font-face {
  font-family: $strib-icons-font;
  src:
    url("#{$strib-icons-font-file}.woff2?#{$strib-icons-font-hash}") format("woff2"),
    url("#{$strib-icons-font-file}.woff?#{$strib-icons-font-hash}") format("woff"),
    url("#{$strib-icons-font-file}.ttf?#{$strib-icons-font-hash}") format("truetype"),
    url("#{$strib-icons-font-file}.eot?#{$strib-icons-font-hash}") format("embedded-opentype") !default;
  font-display: block;
}

.strib::before,
[class^="strib-"]::before,
[class*=" strib-"]::before {
  display: inline-block;
  font-family: $strib-icons-font, sans-serif !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

$strib-icons-map: (
  "arrow-down-left": "\f101",
  "arrow-down-right": "\f102",
  "arrow-down": "\f103",
  "arrow-left": "\f104",
  "arrow-right": "\f105",
  "arrow-up-left": "\f106",
  "arrow-up-right": "\f107",
  "arrow-up": "\f108",
  "audio-waves": "\f109",
  "avatar-filled": "\f10a",
  "avatar": "\f10b",
  "bookmark-filled": "\f10c",
  "bookmark": "\f10d",
  "briefcase-filled": "\f10e",
  "briefcase": "\f10f",
  "calendar-filled": "\f110",
  "calendar": "\f111",
  "camera-filled": "\f112",
  "camera": "\f113",
  "chart": "\f114",
  "check": "\f115",
  "checkbox-checked-filled": "\f116",
  "checkbox-checked": "\f117",
  "checkbox-filled": "\f118",
  "checkbox": "\f119",
  "chevron-down": "\f11a",
  "chevron-left": "\f11b",
  "chevron-right": "\f11c",
  "chevron-up": "\f11d",
  "clock-filled": "\f11e",
  "clock": "\f11f",
  "close": "\f120",
  "collapse": "\f121",
  "comment-disabled-filled": "\f122",
  "comment-disabled": "\f123",
  "comment-filled": "\f124",
  "comment": "\f125",
  "company-logo": "\f126",
  "company-name": "\f127",
  "connect-filled": "\f128",
  "connect": "\f129",
  "copy-filled": "\f12a",
  "copy": "\f12b",
  "corner-down-left": "\f12c",
  "corner-down-right": "\f12d",
  "corner-up-left": "\f12e",
  "corner-up-right": "\f12f",
  "crystal-ball-filled": "\f130",
  "crystal-ball": "\f131",
  "device-mobile-filled": "\f132",
  "device-mobile": "\f133",
  "devices-filled": "\f134",
  "devices": "\f135",
  "diamond": "\f136",
  "document-filled": "\f137",
  "document": "\f138",
  "download": "\f139",
  "edit-filled": "\f13a",
  "edit": "\f13b",
  "error-filled": "\f13c",
  "error": "\f13d",
  "event": "\f13e",
  "expand": "\f13f",
  "faq-filled": "\f140",
  "faq": "\f141",
  "fast-forward-15": "\f142",
  "filter-filled": "\f143",
  "filter": "\f144",
  "fire-filled": "\f145",
  "fire": "\f146",
  "flag-filled": "\f147",
  "flag": "\f148",
  "forward-filled": "\f149",
  "forward": "\f14a",
  "gift-filled": "\f14b",
  "gift": "\f14c",
  "headphones-filled": "\f14d",
  "headphones": "\f14e",
  "help-filled": "\f14f",
  "help": "\f150",
  "home-filled": "\f151",
  "home": "\f152",
  "image-filled": "\f153",
  "image": "\f154",
  "information-filled": "\f155",
  "information": "\f156",
  "latest": "\f157",
  "link": "\f158",
  "location-filled": "\f159",
  "location-map-filled": "\f15a",
  "location-map": "\f15b",
  "location-precise-filled": "\f15c",
  "location-precise": "\f15d",
  "location": "\f15e",
  "lock-filled": "\f15f",
  "lock": "\f160",
  "log-in-left": "\f161",
  "log-in-right": "\f162",
  "log-out-left": "\f163",
  "log-out-right": "\f164",
  "mail-filled": "\f165",
  "mail": "\f166",
  "maximize": "\f167",
  "menu-horizontal": "\f168",
  "menu-stacked": "\f169",
  "menu-vertical": "\f16a",
  "microphone-filled": "\f16b",
  "microphone-mute-filled": "\f16c",
  "microphone-mute": "\f16d",
  "microphone": "\f16e",
  "minimize": "\f16f",
  "minus": "\f170",
  "news-filled": "\f171",
  "news": "\f172",
  "notification-filled": "\f173",
  "notification-new": "\f174",
  "notification-off-filled": "\f175",
  "notification-off": "\f176",
  "notification": "\f177",
  "pause-filled": "\f178",
  "pause": "\f179",
  "phone-filled": "\f17a",
  "phone": "\f17b",
  "photo-filled": "\f17c",
  "photo": "\f17d",
  "pinned-filled": "\f17e",
  "pinned": "\f17f",
  "play-filled": "\f180",
  "play": "\f181",
  "plus": "\f182",
  "podium-filled": "\f183",
  "podium": "\f184",
  "print-filled": "\f185",
  "print": "\f186",
  "quote-double": "\f187",
  "quote-single": "\f188",
  "recently-viewed": "\f189",
  "redo": "\f18a",
  "refresh": "\f18b",
  "reply-all-filled": "\f18c",
  "reply-all": "\f18d",
  "reply-filled": "\f18e",
  "reply": "\f18f",
  "rewind-15": "\f190",
  "search-filled": "\f191",
  "search-jobs-filled": "\f192",
  "search-jobs": "\f193",
  "search-menu": "\f194",
  "search": "\f195",
  "section-filled": "\f196",
  "section": "\f197",
  "send-filled": "\f198",
  "send": "\f199",
  "settings-filled": "\f19a",
  "settings": "\f19b",
  "share": "\f19c",
  "shooting-star-down-left-filled": "\f19d",
  "shooting-star-down-left": "\f19e",
  "shooting-star-down-right-filled": "\f19f",
  "shooting-star-down-right": "\f1a0",
  "shooting-star-up-left-filled": "\f1a1",
  "shooting-star-up-left": "\f1a2",
  "shooting-star-up-right-filled": "\f1a3",
  "shooting-star-up-right": "\f1a4",
  "social-facebook-circle": "\f1a5",
  "social-facebook": "\f1a6",
  "social-google-circle": "\f1a7",
  "social-google": "\f1a8",
  "social-instagram-circle": "\f1a9",
  "social-instagram": "\f1aa",
  "social-linkedin-circle": "\f1ab",
  "social-linkedin-color": "\f1ac",
  "social-linkedin": "\f1ad",
  "social-reddit-circle": "\f1ae",
  "social-reddit-color": "\f1af",
  "social-reddit": "\f1b0",
  "social-spotify-circle": "\f1b1",
  "social-spotify": "\f1b2",
  "social-threads-circle": "\f1b3",
  "social-threads": "\f1b4",
  "social-tiktok-circle": "\f1b5",
  "social-tiktok-color": "\f1b6",
  "social-tiktok": "\f1b7",
  "social-tumblr-circle": "\f1b8",
  "social-tumblr": "\f1b9",
  "social-x-circle": "\f1ba",
  "social-x": "\f1bb",
  "social-youtube-circle": "\f1bc",
  "social-youtube": "\f1bd",
  "speech-filled": "\f1be",
  "speech": "\f1bf",
  "sponsored-filled": "\f1c0",
  "sponsored": "\f1c1",
  "sports-baseball-filled": "\f1c2",
  "sports-baseball": "\f1c3",
  "sports-basketball-filled": "\f1c4",
  "sports-basketball": "\f1c5",
  "sports-college-filled": "\f1c6",
  "sports-college": "\f1c7",
  "sports-football-filled": "\f1c8",
  "sports-football": "\f1c9",
  "sports-golf-filled": "\f1ca",
  "sports-golf": "\f1cb",
  "sports-high-school-filled": "\f1cc",
  "sports-high-school": "\f1cd",
  "sports-hockey-filled": "\f1ce",
  "sports-hockey": "\f1cf",
  "sports-league-mlb-color": "\f1d0",
  "sports-league-mls-color": "\f1d1",
  "sports-league-nba-color": "\f1d2",
  "sports-league-ncaa-color": "\f1d3",
  "sports-league-nfl-color": "\f1d4",
  "sports-league-nhl-color": "\f1d5",
  "sports-league-pwhl-color": "\f1d6",
  "sports-motorsport-filled": "\f1d7",
  "sports-motorsport": "\f1d8",
  "sports-outdoor-filled": "\f1d9",
  "sports-outdoor": "\f1da",
  "sports-roster-filled": "\f1db",
  "sports-roster": "\f1dc",
  "sports-score-filled": "\f1dd",
  "sports-score": "\f1de",
  "sports-soccer-filled": "\f1df",
  "sports-soccer": "\f1e0",
  "sports-standings": "\f1e1",
  "sports-stats": "\f1e2",
  "sports-team-gophers": "\f1e3",
  "sports-team-loons": "\f1e4",
  "sports-team-timberwolves": "\f1e5",
  "sports-team-twins": "\f1e6",
  "sports-team-vikings": "\f1e7",
  "sports-team-wild": "\f1e8",
  "sports-trophy-filled": "\f1e9",
  "sports-trophy": "\f1ea",
  "star-filled": "\f1eb",
  "star": "\f1ec",
  "steering-wheel-filled": "\f1ed",
  "steering-wheel": "\f1ee",
  "text-size": "\f1ef",
  "thumbs-down-filled": "\f1f0",
  "thumbs-down": "\f1f1",
  "thumbs-up-filled": "\f1f2",
  "thumbs-up": "\f1f3",
  "ticket-filled": "\f1f4",
  "ticket": "\f1f5",
  "tombstone-filled": "\f1f6",
  "tombstone": "\f1f7",
  "trash-filled": "\f1f8",
  "trash": "\f1f9",
  "trending": "\f1fa",
  "undo": "\f1fb",
  "user-filled": "\f1fc",
  "user": "\f1fd",
  "video-filled": "\f1fe",
  "video": "\f1ff",
  "view-next": "\f200",
  "volume-filled": "\f201",
  "volume-mute-filled": "\f202",
  "volume-mute": "\f203",
  "volume": "\f204",
  "weather-day-mostly-cloudy-thunderstorms-lg-color": "\f205",
  "weather-day-mostly-cloudy-thunderstorms-lg": "\f206",
  "weather-day-mostly-cloudy-thunderstorms": "\f207",
  "weather-day-mostly-sunny-lg-color": "\f208",
  "weather-day-mostly-sunny-lg": "\f209",
  "weather-day-mostly-sunny": "\f20a",
  "weather-day-night-cloudy-lg-color": "\f20b",
  "weather-day-night-cloudy-lg": "\f20c",
  "weather-day-night-cloudy": "\f20d",
  "weather-day-night-flurries-lg-color": "\f20e",
  "weather-day-night-flurries-lg": "\f20f",
  "weather-day-night-flurries": "\f210",
  "weather-day-night-ice-lg-color": "\f211",
  "weather-day-night-ice-lg": "\f212",
  "weather-day-night-ice": "\f213",
  "weather-day-night-showers-lg-color": "\f214",
  "weather-day-night-showers-lg": "\f215",
  "weather-day-night-showers": "\f216",
  "weather-day-night-sleet-lg-color": "\f217",
  "weather-day-night-sleet-lg": "\f218",
  "weather-day-night-sleet": "\f219",
  "weather-day-partly-sunny-flurries-lg-color": "\f21a",
  "weather-day-partly-sunny-flurries-lg": "\f21b",
  "weather-day-partly-sunny-flurries": "\f21c",
  "weather-day-partly-sunny-lg-color": "\f21d",
  "weather-day-partly-sunny-lg": "\f21e",
  "weather-day-partly-sunny-showers-lg-color": "\f21f",
  "weather-day-partly-sunny-showers-lg": "\f220",
  "weather-day-partly-sunny-showers": "\f221",
  "weather-day-partly-sunny-thunderstorms-lg-color": "\f222",
  "weather-day-partly-sunny-thunderstorms-lg": "\f223",
  "weather-day-partly-sunny-thunderstorms": "\f224",
  "weather-day-partly-sunny": "\f225",
  "weather-day-sunny-lg-color": "\f226",
  "weather-day-sunny-lg": "\f227",
  "weather-day-sunny": "\f228",
  "weather-night-lg-color": "\f229",
  "weather-night-lg": "\f22a",
  "weather-night-mostly-cloudy-lg-color": "\f22b",
  "weather-night-mostly-cloudy-lg": "\f22c",
  "weather-night-mostly-cloudy": "\f22d",
  "weather-night-partly-cloudy-flurries-lg-color": "\f22e",
  "weather-night-partly-cloudy-flurries-lg": "\f22f",
  "weather-night-partly-cloudy-flurries": "\f230",
  "weather-night-partly-cloudy-lg-color": "\f231",
  "weather-night-partly-cloudy-lg": "\f232",
  "weather-night-partly-cloudy-showers-lg-color": "\f233",
  "weather-night-partly-cloudy-showers-lg": "\f234",
  "weather-night-partly-cloudy-showers": "\f235",
  "weather-night-partly-cloudy-thunderstorms-lg-color": "\f236",
  "weather-night-partly-cloudy-thunderstorms-lg": "\f237",
  "weather-night-partly-cloudy-thunderstorms": "\f238",
  "weather-night-partly-cloudy": "\f239",
  "weather-night-snowy-lg-color": "\f23a",
  "weather-night-snowy-lg": "\f23b",
  "weather-night-snowy": "\f23c",
  "weather-night-wintry-mix-lg-color": "\f23d",
  "weather-night-wintry-mix-lg": "\f23e",
  "weather-night-wintry-mix": "\f23f",
  "weather-night": "\f240",
  "world-filled": "\f241",
  "world": "\f242",
  "zoom-in-filled": "\f243",
  "zoom-in": "\f244",
  "zoom-out-filled": "\f245",
  "zoom-out": "\f246",
);

@each $icon, $codepoint in $strib-icons-map {
  .strib-#{$icon}::before { content: $codepoint; }
}
