/**
 * Star Tribune icons (strib-icons)
 * Version: {{ pkg.version }}
 * Copyright Star Tribune
 */

@font-face {
	font-family: "{{fontName}}";
	src: {{{src}}};
}

{{baseSelector}} {
	line-height: 1;
}

{{baseSelector}}:before {
	font-family: {{fontName}} !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

{{#each codepoints}}
.{{../classPrefix}}{{@key}}:before {
	content: "\\{{this}}";
}
{{/each}}

/* SVG includes */
{{baseSelector}}-svg {
	display: inline-block;
  width: 1em;
	height: 1em;
}
